.DS_Store
*.scssc
*.log
w3-total-cache-config-preview.php
wp-content/cache/supercache/toolbox/index.html

wp-content/wp-cache-config.php

wp-content/cache/2.html

wp-content/cache/1.html

wp-content/advanced-cache.php
