/* line 17, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/partials/layout.scss */
body {
  background: url(../../construct/images/header-bg.jpg); }

/* line 4, ../sass/partials/layout.scss */
#top-bar {
  display: none; }

/* line 7, ../sass/partials/layout.scss */
.layout-centered #main {
  margin-bottom: 0; }

/* line 10, ../sass/partials/layout.scss */
#breadcrumb-wrap {
  display: none; }

/* line 13, ../sass/partials/layout.scss */
#logo {
  height: auto;
  width: auto; }
  /* line 17, ../sass/partials/layout.scss */
  #logo #site-title a {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
    height: 30px;
    width: 124px;
    background: url(../images/toolbox-logo.png) no-repeat; }

/* line 25, ../sass/partials/layout.scss */
#primary-menu {
  float: right; }
  /* line 28, ../sass/partials/layout.scss */
  #primary-menu ul li {
    margin: 0; }
    /* line 30, ../sass/partials/layout.scss */
    #primary-menu ul li a {
      padding: 0 15px; }
  /* line 34, ../sass/partials/layout.scss */
  #primary-menu ul ul {
    background: none;
    padding-top: 10px; }

/* line 40, ../sass/partials/layout.scss */
#header {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px; }
  /* line 45, ../sass/partials/layout.scss */
  #header #header-inner {
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; }
    /* line 48, ../sass/partials/layout.scss */
    #header #header-inner .header-wrapper {
      padding: 20px; }

/* line 53, ../sass/partials/layout.scss */
#page {
  padding-bottom: 0; }

/* line 56, ../sass/partials/layout.scss */
#bottom {
  margin-top: 0; }

/* line 59, ../sass/partials/layout.scss */
#footer {
  padding-top: 0; }

/* line 62, ../sass/partials/layout.scss */
#credits {
  text-align: center; }

/* line 1, ../sass/partials/typography.scss */
body, #home-title, .item .meta-category, .item .post-title a, .item .post-title, .single .post-title, .page .page-title {
  font-family: kulturista-web, serif; }

/* line 4, ../sass/partials/typography.scss */
.item .post-title a, .item .post-title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5px; }

/* line 9, ../sass/partials/typography.scss */
.item .post-content {
  font-size: 14px;
  line-height: 1.5; }

/* line 13, ../sass/partials/typography.scss */
#home-title {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
  font-size: 18px;
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 20px 0; }

/* line 21, ../sass/partials/typography.scss */
.widget ul li {
  margin-bottom: 10px; }

/* line 24, ../sass/partials/typography.scss */
#primary-menu ul li a {
  font-size: 13px;
  font-weight: 500; }

/* line 1, ../sass/partials/modules.scss */
#home-title {
  text-align: center; }

/* line 4, ../sass/partials/modules.scss */
.ad-block {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35); }
  /* line 7, ../sass/partials/modules.scss */
  .ad-block .ad {
    width: 130px;
    margin: 90px auto 0 auto; }
  /* line 11, ../sass/partials/modules.scss */
  .ad-block .supported-by {
    text-align: center;
    margin-bottom: 5px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-variant: small-caps; }
  /* line 19, ../sass/partials/modules.scss */
  .ad-block .fusionentire {
    display: block;
    overflow: hidden;
    width: 130px;
    margin: 0 auto;
    text-align: center; }
    /* line 26, ../sass/partials/modules.scss */
    .ad-block .fusionentire a {
      display: block;
      width: 130px;
      height: 100px; }
    /* line 33, ../sass/partials/modules.scss */
    .ad-block .fusionentire .fusiontext {
      text-align: left;
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      width: 110px;
      height: auto;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      margin: 0; }
  /* line 45, ../sass/partials/modules.scss */
  .ad-block .fusion-link {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-variant: small-caps;
    line-height: 24px;
    height: 24px;
    text-align: center; }

/* line 55, ../sass/partials/modules.scss */
.item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 57, ../sass/partials/modules.scss */
  .item .hentry {
    background: #f8f8f8; }
    /* line 59, ../sass/partials/modules.scss */
    .item .hentry .featured-image {
      border-bottom: 3px solid #444; }
