/* line 17, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/partials/layout.scss */
body {
  background: url(../../construct/images/header-bg.jpg);
  background: url(../images/background.png); }

/* line 6, ../sass/partials/layout.scss */
#top-bar {
  display: none; }

/* line 9, ../sass/partials/layout.scss */
.layout-centered #main {
  margin-bottom: 0; }

/* line 12, ../sass/partials/layout.scss */
#breadcrumb-wrap {
  display: none; }

/* line 15, ../sass/partials/layout.scss */
#header {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  z-index: 70; }
  /* line 25, ../sass/partials/layout.scss */
  #header #header-inner {
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px; }
    /* line 30, ../sass/partials/layout.scss */
    #header #header-inner .header-wrapper #logo {
      height: auto;
      width: auto;
      padding: 20px; }
      /* line 35, ../sass/partials/layout.scss */
      #header #header-inner .header-wrapper #logo #site-title a {
        overflow: hidden;
        text-indent: -9000px;
        display: block;
        height: 30px;
        width: 124px;
        background: url(../images/toolbox-logo.png) no-repeat; }
    /* line 43, ../sass/partials/layout.scss */
    #header #header-inner .header-wrapper .nav-container {
      float: right; }
      /* line 45, ../sass/partials/layout.scss */
      #header #header-inner .header-wrapper .nav-container #primary-menu {
        float: left;
        margin: 17px 20px 0 0; }
        /* line 49, ../sass/partials/layout.scss */
        #header #header-inner .header-wrapper .nav-container #primary-menu ul li {
          margin: 0; }
          /* line 51, ../sass/partials/layout.scss */
          #header #header-inner .header-wrapper .nav-container #primary-menu ul li a {
            padding: 0 15px; }
        /* line 55, ../sass/partials/layout.scss */
        #header #header-inner .header-wrapper .nav-container #primary-menu ul ul {
          background: none;
          padding-top: 10px; }

/* line 65, ../sass/partials/layout.scss */
#page {
  padding-bottom: 0; }

/* line 68, ../sass/partials/layout.scss */
#bottom {
  margin-top: 0;
  height: auto;
  background: #111111; }

/* line 73, ../sass/partials/layout.scss */
#footer {
  padding-top: 0;
  background: none; }

/* line 77, ../sass/partials/layout.scss */
#credits {
  text-align: center; }

/* line 80, ../sass/partials/layout.scss */
.separator {
  width: 100%;
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  height: 0;
  margin: 20px 0;
  background: none;
  display: none; }

/* line 88, ../sass/partials/layout.scss */
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0; }

/* line 97, ../sass/partials/layout.scss */
.hidden {
  display: none; }

/*---------------------------------------------------------------------------*/
/*  Media Queries
/*---------------------------------------------------------------------------*/
@media screen and (min-width: 1035px) {
  /* line 104, ../sass/partials/layout.scss */
  .layout-centered #container {
    width: 940px; }

  /* line 107, ../sass/partials/layout.scss */
  .item:nth-of-type(3n) {
    margin-right: 0; }

  /* line 110, ../sass/partials/layout.scss */
  .separator:nth-of-type(3n) {
    display: block; } }
/* for 1035px or less - Tablets */
@media screen and (max-width: 1035px) {
  /* line 117, ../sass/partials/layout.scss */
  .layout-centered #container,
  #container {
    float: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 620px; }

  /* line 124, ../sass/partials/layout.scss */
  .separator:nth-of-type(even) {
    display: block; }

  /* line 127, ../sass/partials/layout.scss */
  .item:nth-of-type(2n) {
    margin-right: 0; } }
/* for 680px or less - Mobiles */
@media screen and (max-width: 680px) {
  /* line 134, ../sass/partials/layout.scss */
  .layout-centered #container,
  #container {
    width: 300px;
    padding: 0 5px; }

  /* line 138, ../sass/partials/layout.scss */
  .separator {
    display: block; }

  /* line 141, ../sass/partials/layout.scss */
  .item {
    margin-right: 0; } }
/* line 146, ../sass/partials/layout.scss */
.separator:last-child {
  display: block; }

/* line 1, ../sass/partials/typography.scss */
body, #home-title, .item .meta-category, .item .post-title a, .item .post-title, .single .post-title, .page .page-title {
  font-family: kulturista-web, serif; }

/* line 4, ../sass/partials/typography.scss */
.item .post-title a, .item .post-title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5px; }

/* line 9, ../sass/partials/typography.scss */
.item .post-content {
  font-size: 14px;
  line-height: 1.5; }

/* line 13, ../sass/partials/typography.scss */
#home-title {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);
  font-size: 18px;
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 20px 0; }

/* line 21, ../sass/partials/typography.scss */
.widget ul li {
  margin-bottom: 10px; }

/* line 24, ../sass/partials/typography.scss */
#primary-menu ul li a {
  font-size: 13px;
  font-weight: 500; }

/* line 1, ../sass/partials/modules.scss */
#home-title {
  text-align: center; }

/* line 4, ../sass/partials/modules.scss */
.item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45); }
  /* line 7, ../sass/partials/modules.scss */
  .item .hentry {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #f8f8f8; }
    /* line 10, ../sass/partials/modules.scss */
    .item .hentry .featured-image {
      border-bottom: 3px solid #444; }

/* line 18, ../sass/partials/modules.scss */
.ad-block {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.35); }
  /* line 21, ../sass/partials/modules.scss */
  .ad-block .ad {
    width: 130px;
    margin: 90px auto 0 auto; }
  /* line 25, ../sass/partials/modules.scss */
  .ad-block .supported-by {
    text-align: center;
    margin-bottom: 5px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-variant: small-caps; }
  /* line 33, ../sass/partials/modules.scss */
  .ad-block .fusionentire {
    display: block;
    overflow: hidden;
    width: 130px;
    margin: 0 auto;
    text-align: center; }
    /* line 40, ../sass/partials/modules.scss */
    .ad-block .fusionentire a {
      display: block;
      width: 130px;
      height: 100px; }
    /* line 47, ../sass/partials/modules.scss */
    .ad-block .fusionentire .fusiontext {
      text-align: left;
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      width: 110px;
      height: auto;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      margin: 0; }
  /* line 59, ../sass/partials/modules.scss */
  .ad-block .fusion-link {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-variant: small-caps;
    line-height: 24px;
    height: 24px;
    text-align: center; }

/* line 69, ../sass/partials/modules.scss */
.share-widget {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  height: 70px;
  width: 90px;
  float: left; }
  /* line 77, ../sass/partials/modules.scss */
  .share-widget .share-link {
    background: url("../images/share.png") no-repeat top;
    display: block;
    overflow: hidden;
    text-indent: -9000px;
    display: block;
    height: 100%;
    width: 100%; }
    /* line 83, ../sass/partials/modules.scss */
    .share-widget .share-link:hover {
      background-position: bottom; }
  /* line 87, ../sass/partials/modules.scss */
  .share-widget .share-options {
    display: none;
    position: relative;
    background: #ffffff;
    padding: 20px 10px 10px 10px;
    z-index: 100;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); }
    /* line 95, ../sass/partials/modules.scss */
    .share-widget .share-options:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    /* line 104, ../sass/partials/modules.scss */
    .share-widget .share-options:after {
      border-bottom-color: #ffffff;
      border-width: 5px;
      left: 50%;
      margin-left: -5px; }
    /* line 110, ../sass/partials/modules.scss */
    .share-widget .share-options div {
      margin-bottom: 10px; }
    /* line 113, ../sass/partials/modules.scss */
    .share-widget .share-options .twitter {
      padding-left: 7px; }
    /* line 116, ../sass/partials/modules.scss */
    .share-widget .share-options .facebook {
      padding-left: 5px; }
    /* line 119, ../sass/partials/modules.scss */
    .share-widget .share-options .google {
      padding-left: 10px; }
  /* line 124, ../sass/partials/modules.scss */
  .share-widget.active .share-options {
    display: block; }
