body{
	background:url(../../construct/images/header-bg.jpg);
	background:url(../images/background.png);
	// padding-top:90px;
}
#top-bar{
	display:none;
}
.layout-centered #main{
	margin-bottom:0;
}
#breadcrumb-wrap{
	display:none;
}
#header{
	background:none;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:20px;
	z-index: 70;
	// position: fixed;
	// top:0;
	// left:50%;
	// margin-left:-500px;
	#header-inner{
		background:black(0.4);
		// background:rgba(50, 50, 50, 0.9);
		@include border-radius(0 0 3px 3px);
		.header-wrapper{
			#logo{
				height:auto;
				width:auto;
				padding:20px;
				#site-title{
					a{
						@include hide-text();
						height:30px;
						width:124px;
						background:url(../images/toolbox-logo.png) no-repeat;
					}
				}
			}
			.nav-container{
				float:right;
				#primary-menu{
					float:left;
					margin:17px 20px 0 0;
					ul{
						li{
							margin:0;
							a{
								padding:0 15px;
							}
						}
						ul{
							background:none;
							padding-top:10px;
						}
					}
				}
			}
		}
	}
}
#page{
	padding-bottom:0;
}
#bottom{
	margin-top:0;
	height:auto;
	background:#111
}
#footer{
	padding-top:0;
	background:none;
}
#credits{
	text-align:center;
}
.separator{
	width:100%;
	border-top: 1px dotted white(0.2);
	height:0;
	margin:20px 0;
	background:none;
	display:none;
}
.overlay{
	position:fixed;
	height:100%;
	width:100%;
	z-index:50;
	background:black(0.3);
	top:0;
	left:0;
}
.hidden{
	display:none;
}
/*---------------------------------------------------------------------------*/
/*  Media Queries
/*---------------------------------------------------------------------------*/
@media screen and (min-width: 1035px) {
	.layout-centered #container{
		width:940px;
		#content{
			width:980px;
			overflow:hidden;
		}
	}
	.home{
		// .item:nth-of-type(3n){
		// 	margin-right:0;
		// }
		.separator:nth-of-type(3n){
			display:block;
		}
	}
	.archive{
		// .item:nth-of-type(2n){
		// 	margin-right:0;
		// }
		.separator:nth-of-type(2n){
			display:block;
		}
	}
}
/* for 1035px or less - Tablets */
@media screen and (max-width: 1035px) {
	#logo{
		float:left;
	}
	#primary-menu{
		margin: 17px 20px 0 0;
		position:static;
		left:auto;
		padding-top:0;
		ul{
			li{
				right:auto;
			}
		}
	}
	.layout-centered #container,
	#container {
		float: none;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
		width: 620px;
	}
	.separator:nth-of-type(even){
		display:block;
	}
	// .item:nth-of-type(2n){
	// 	margin-right:0;
	// }
}
/* for 680px or less - Mobiles */
@media screen and (max-width: 680px) {
	#logo{
		float:none;
		h1{
			width:124px;
			margin:0 auto;
		}
	}
	.nav-container{
		display:none;
	}
	.layout-centered #container,
	#container {
		width: 300px;
		padding: 0 5px;
	}
	.separator{
		display:block;
	}
	// .item{
	// 	margin-right:0;
	// }
}
//always show the last separator no matter what
.separator:last-child{
	display:block;
}